{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css" 
  href="{% static 'css/exercises/index.css' %}">
{% endblock %}

{% block content %}

<h1>Exercise List </h1>

<section class="container">

  {% for exercise in exercises %}
    <a class="exercise-container" href="{% url 'exercise-detail' exercise.id %}">
      <div class="exercise">
        <img class="thumbnail" src="{% static 'images/no_image.svg' %}" alt="Exercise Thumbnail">
        <p class="name">{{exercise.name}}</p>
      </div>
    </a>
  {% endfor %}
</section>


{% endblock %}