{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css" 
  href="{% static 'css/exercises/index.css' %}">
{% endblock %}

{% block content %}

<h1>Exercise List </h1>

<form class="search" action="{% url 'exercise-search' %}" method="get">
  {% csrf_token %}
  <input 
    type="text" 
    value="{{request.GET.search}}"
    id="search" 
    name="search" 
    placeholder="Search">
  <select name="category">
    {% if request.GET.category %}
      <option value="{{request.GET.category}}">
        {{request.GET.category}}
      </option>
    {% else %}
      <option value="All Exercises">All Exercises</option>
    {% endif %}
    <option value="All Exercises">All Exercises</option>
    <option value="My Exercises">My Execises</option>
    <option value="Cervical">Cervical</option>
    <option value="Thoracic">Thoracic</option>
    <option value="Lumbar">Lumbar</option>
    <option value="Shoulders">Shoulder</option>
    <option value="Hips">Hips</option>
    <option value="Knees">Knees</option>
    <option value="Ankles">Ankles</option>
    <option value="Feet">Feet</option>
    <option value="Other">Other</option>
  </select>
  <button class="btn search-btn" type="submit">Search</button>
</form>

<section class="container">

  {% for exercise in exercises %}
    <a class="exercise-container" href="{% url 'exercise-detail' exercise.id %}">
      <div class="exercise">
        {% if exercise.photo.url %}
          <img class="thumbnail" src="{{exercise.photo.url}}" alt="Exercise Thumbnail">
        {% else %}
          <img class="thumbnail" src="{% static 'images/no_image.svg' %}" alt="Exercise Thumbnail">
        {% endif %}
        <p class="name">{{exercise.name}}</p>
      </div>
    </a>
  {% endfor %}
  
</section>


{% endblock %}