{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css" 
  href="{% static 'css/exercises/details.css' %}">
  <script defer src="{% static 'js/exercise-detail.js' %}"></script>
{% endblock %}

{% block content %}

<div class="exercise-container">
  <h1>{{exercise.name}}</h1>
  <iframe 
    class="video"
    src="https://www.youtube.com/embed/{{exercise.url}}" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  >
  </iframe>
  <div class="category">
    <p>Category: {{exercise.get_category_display}}</p>
  </div>
  <div class="details">
    <div class="detail-card">
      <p class="detail-info">{{exercise.tempo}}</p>
      <p class="label">Tempo</p>
    </div>
    <div class="detail-card">
      <p class="detail-info">{{exercise.repetitions}}</p>
      <p class="label">Repetitions</p>
    </div>
    <div class="detail-card">
      <p class="detail-info">{{exercise.rest}}</p>
      <p class="label">Rest</p>
    </div>
    <div class="detail-card">
      <p class="detail-info">{{exercise.resistance}}</p>
      <p class="label">Resistance</p>
    </div>
    <div class="detail-card">
      <p class="detail-info">{{exercise.sets}}</p>
      <p class="label">Sets</p>
    </div>
    <div class="detail-card">
      <p class="detail-info">{{exercise.fatigue_level}}</p>
      <p class="label">Fatigue Level</p>
    </div>
  </div>
  <div class="instructions">
    <p class="label">Additional Instructions</p>
    <p>{{exercise.instructions}}</p>
  </div>

  <div class="buttons">
    {% if object.owner == request.user %}
      <a class="btn submit" href="{% url 'exercise-update' exercise.id %}">✏️ Edit</a>
      <a class="btn delete" href="{% url 'exercise-delete' exercise.id %}">❌ Delete</a>
    {% endif %}
  </div>

  {% if object.owner == request.user %}
    <div class="edit-thumbnail">
      <div class="thumbnail-title">
        <p>Thumbnail Preview</p>
      </div>
      {% if exercise.photo.url %}
        <img class="thumbnail" src="{{exercise.photo.url}}" alt="Exercise Thumbnail">
      {% else %}
        <img class="thumbnail" src="{% static 'images/no_image.svg' %}" alt="Exercise Thumbnail">
      {% endif %}
      <h3>Change Thumbnail photo</h3>
      <form 
        action="{% url 'add-photo' exercise.id %}"
        enctype="multipart/form-data"
        method="POST"
        class="upload-form"
      >
        {% csrf_token %}
        <label for="file-input">
          <input type="file" name="photo-file" id="file-input">
        </label>
        <button type="submit" class="upload-btn">Upload Photo</button>
      </form>
    </div>
  {% endif %}


</div>

{% endblock %}