{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css" 
  href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<section class="container">
  <div>
    <h1>Are You Sure You Want To Delete This?</h1>
  </div>
  {% if exercise.photo.url %}
    <img class="thumbnail" src="{{exercise.photo.url}}" alt="Exercise Thumbnail">
  {% else %}
    <img class="thumbnail" src="{% static 'images/no_image.svg' %}" alt="Exercise Thumbnail">
  {% endif %}
  <p class="name">{{ exercise.name }}</p>
  
  <form class="buttons" action="" method="post" class="form">
    {% csrf_token %}
    <a class="btn"
      href="{% url 'exercise-detail' exercise.id %}" 
    >
      Cancel
    </a>
    <button class="btn delete" type="submit">Yes - Delete!</button>
  </form>
</section>

{% endblock %}