{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css" 
  href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

<section class="container">
  <div>
    {% if object %}
      <h1>Edit {{ object.name }}</h1>
    {% else %}
      <h1>Add an Exercise</h1>
    {% endif %}
  </div>
  <form 
    action="" 
    method="post"
  >
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit</button>
  </form>
  <div class="embed-instructions"> 
    <h2>**Important Note**</h2>
    <p>
      When adding/editing a URL:
    </p>
    <p>
      Step 1: Please use a YouTube video
    </p>
    <p>
      Step 2: Ensure video allows embedding
    </p>
    <p>
      Step 3: Click share
    </p>
    <p>
      Step 4: Click embed
    </p>
    <p class="src">
      Step 5: src="https://www.youtube.com/embed/<span class="url">copy-this-part</span>"
    </p>
  </div>
</section>

{% endblock %}