{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href=""
  >
  <link 
    rel="stylesheet" 
    type="text/css"
    href="{% static 'css/base.css' %}">
  <title>Move Every Day</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="{% url 'home' %}">
        <img 
          src=""
          alt="The Move Every Day Logo"
        >
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="">My Programs</a></li>
          <li><a href="">All Exercises</a></li>
          <li><a href="">Add Exercise</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="">Sign Up</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>