.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}

h1 {
  font-size: 3rem;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.search > button, input, select {
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  padding: 0 10px;
}

.search-btn {
  width: 20%;
  max-width: 50px;
}

.search > input {
  width: 35%;
  max-width: 200px;
}

.search > select {
  width: 35%;
  max-width: 150px;
}

.exercise-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--dark-blue);
  margin: 10px;
  text-align: center;
}

.exercise {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.thumbnail {
  height: 192px; width: 288px;
  border-radius: 20px;
  border-radius: 10px;
}

.name {
  font-size: 2rem;
  padding: 0;
  color: var(--dark-blue);
  font-weight: bold;
}